div{
    text-align: center;
    background-color: #2a023b;
    border-color: white;

}

.graph{
    text-align: left;
    text-color:white;
    background-color: antiquewhite;
}

.background{
    background-color: aliceblue;
}